body, html {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  overflow: hidden;
  background: #272727;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('Cafe24Oneprettynight.ttf') format('truetype');
}
@font-face {
  font-family: 'AnonymousPro';
  src: url('AnonymousPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'KaiseiHarunoUmi';
  src: url('KaiseiHarunoUmi-Bold.ttf') format('truetype');
}
